{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h2 class="text-center mt-5">{{ message }}</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Event Image -->
    <div class="container-fluid">
        <div class="row justify-content-center mt-5 pb-4">
            <div class="col-md-8">
                <div class="card shadow bg-light">
                    <img class="card-img-top" style="max-height: 500px;" src="{{ event.image }}" alt="Event 1 Image">
                </div>
            </div>
        </div>
    </div>

    <!-- Event Details -->
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-8"">
                {% if event.status == 'Sold Out': %} <h4
                class=" col-sm-2 rounded-3 text-center border bg-danger text-light">SOLD OUT</h4>
                {% elif event.status == 'Open': %} <h4
                    class=" col-sm-2 rounded-3 text-center border bg-success text-light">OPEN</h4>
                {% elif event.status == 'Inactive': %} <h4
                    class=" col-sm-2 rounded-3 text-center border bg-secondary text-light">INACTIVE</h4>
                {% elif event.status == 'Cancelled': %} <h4
                    class=" col-sm-2 rounded-3 text-center border bg-warning text-dark">CANCELLED</h4>
                {% endif %}

                <h1>{{ event.name }}</h1>
                <!-- <h6>By <strong>{{ event.user_id }}</strong></h6> -->
                <h2>Where</h2>
                <p>{{ event.location }}</p>
                <h2>When</h2>
                <div class="row">
                    <div class="col-md-3">
                        <h6>Start</h6>
                        <p>{{ event.start_date.strftime('%d %b %Y') }} | {{
                            event.start_time.strftime('%H:%M %p') }}</p>
                    </div>
                    <div class="col-md-3">
                        <h6>End</h6>
                        <p>{{ event.end_date.strftime('%d %b %Y') }} | {{
                            event.end_time.strftime('%I:%M %p') }}</p>
                    </div>
                </div>
                <h2>About This Event</h2>
                <p>{{ event.description }}</p>
                <div class="row">
                    <p class="col-md-2 mx-3 rounded border text-center">{{ event.genre }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card " style=" height: 10rem;">
                    <div class="card-body">
                        <div class="text-center">
                            <p></p>
                            <h2 class="card-title">A${{ event.price }}</h2>
                            <!-- Button trigger modal -->
                            {% if event.status == 'Open'%}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#bookingModal">
                                <h4>Get Tickets</h4>
                            </button>
                            {% else %}
                            <button type="button" disabled class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#bookingModal">
                                <h4>Get Tickets</h4>
                            </button>
                            {% endif %}
                        </div>


                        <!-- Book Ticket (Modal Window) -->
                        <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg text-center">
                                <div class="modal-content">
                                    {% if not current_user.is_authenticated %}
                                    <div class="notification is-danger">
                                        <h3 class="mt-5"> Login to access this content. Go to <a
                                                href="{{ url_for('auth.login') }}">login
                                                page</h3></a>.
                                    </div>
                                    {% endif %}
                                    {% if current_user.is_authenticated %}
                                    <div class="modal-body">
                                        <h2 class="modal-title text-center fw-bold" id="bookingModalLabel">{{ event.name
                                            }}
                                        </h2>
                                        <h3 class="fw-light text-center">{{ event.start_date.strftime('%d %b %Y') }}, {{
                                            event.start_time.strftime('%H:%M %p') }} - {{ event.end_date.strftime('%d %b
                                            %Y') }}, {{
                                            event.end_time.strftime('%I:%M %p') }}</h3>
                                        <div class="row justify-content-center">
                                            <div class="card col-md-7 mt-3" style=" height: 18rem;">
                                                <div class=" card-body">
                                                    <div class="row">
                                                        <h3 class="fw-bold mt-1 ">Buy Ticket</h3>
                                                        <hr>
                                                        <h4 class="">Price: A${{ event.price }}</h4>
                                                        <p class="text-muted">1 ticket per person. Price includes tax.
                                                        </p>
                                                        {{
                                                        render_form(b_form,"/events/{0}/booking".format(event.id))
                                                        }}
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Comment Section -->
                <div class="card mt-5 mb-3">
                    <h4 class="card-header text-center">Comments</h4>
                    {% if event.comments %}
                    <div class="row border-bottom">
                        {% for comment in event.comments if comment.id > (event.comments|length ) - 3 %}
                        <div class=" col-md-12 mx-3 mt-1 ">
                            <b>{{ comment.user.name }} </b>
                            <span class=" ml-2 text-light text-muted">{{comment.created_at.strftime('%d %b %Y')}}</span>
                            <p>{{ comment.text }}</p>
                        </div>
                        {% endfor %}
                        <div>
                            <p class="text-center">
                                <a class="button" data-bs-toggle="modal" data-bs-target="#viewCommentsModal"> View all
                                    comments
                            </p></a>
                        </div>
                        <div class="modal fade" id="viewCommentsModal" tabindex="-1" role="dialog"
                            aria-labelledby="viewCommentsModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered " role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="commentModalLabel">All Comments</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% for comment in event.comments %}
                                        <div class=" col-md-12 mx-3 mt-1 ">
                                            <b>{{ comment.user.name }} </b>
                                            <span class=" ml-2 text-light text-muted">{{comment.created_at.strftime('%d
                                                %b %Y')}}</span>
                                            <p>{{ comment.text }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <h6 class="mt-2 text-center">No Comments available for this event.</h6>
                    {% endif %}
                    <!-- Add Comment Modal Window  -->
                    <div class=" card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                data-bs-target="#commentModal">
                                <h6>Add Comment</h6>
                            </button>
                        </div>

                        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog"
                            aria-labelledby="commentModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg text-center" role="document">
                                <div class="modal-content">
                                    {% if not current_user.is_authenticated %}
                                    <div class="notification is-danger">
                                        <h3 class="mt-5"> Login to access this content. Go to <a
                                                href="{{ url_for('auth.login') }}">login
                                                page</h3>
                                        </a>.
                                    </div>
                                    {% endif %}
                                    {% if current_user.is_authenticated %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="commentModalLabel">New Comment</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ render_form(form,"/events/{0}/comment".format(event.id)) }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
</body>
{% endblock %}
