{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1 class="mt-3 mb-3">{{ heading }}</h1>
  </div>

  <!-- Form rendering is simple and easy if using bootstrap -->
  <div class="col-md-6 ml-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h4 class="text-danger">{{ message }}</h4>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {{render_form(form)}}
  </div>

  {% endblock %}